.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.dsmeta-sales-title{
    color: #676fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.dsmeta-form-control-container{
  margin-bottom: 16px;
  max-width: 300px;
}

.dsmeta-form-control{
    width: 100%;
    height: 46px;
    background-color: #1b2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
 }



 .dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: bold;
  }

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #cfcfcf;
    text-align: center;
} 

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background-color: #242c3b;
}

.dsmeta-sales-table tbody tr:hover > td {
    background-color: #384459;
}

.dsmeta-notification-container{
    display: flex;
    justify-content: center;
}

.show576 {
    display: none;
}

.show992 {
    display: none;
}

@media (min-width: 576px) {
    .show576 {
        display: table-cell;
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr {
        height: 55px;
    }

    .dsmeta-sales-table tbody {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .show992 {
        display: table-cell;
    }
}