.dsmeta-red-bnt {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid rgba(255, 107, 114, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .dsmeta-red-bnt img {
    width: 19px;
  }
  
  /*
  Usando RGB ou HEX basta entender que as cores são formadas por três partes (4 se usar opacidade):
  
  #001122                        rgb(0, 1, 2)
  00 -> vermelho      OU         0 -> vermelho
  11 -> verde                    1 -> verde
  22 -> azul                     2 -> azul
*/