.dsmeta-logo-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dsmeta-logo-container img {
    width: 225px;
  }

.dsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 25px;
}

.dsmeta-logo-container p {
    font-size: 14px;
    font-weight: 300;
}
 
/*
.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
*/